* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("font/Norse-Bold.otf");
}

:root {
  /* So I can use rem */
  font-size: 62.5%;
}

body {
  /* Background of the whole page */
  background-color: rgb(14, 14, 14);
  font-size: 1.6rem;
  /* Flex parent means I can then auto auto in child element */
  display: flex;
  height: 100vh;
}

.content {
  /* Centrally aligns */
  display: flex;
  margin: auto auto;
  /* TODO - Change this so it's 90% up to a certain point and then no more than that size? */
  max-width: 90vw;
}

.left-img {
  /* Main text in this part is white */
  color: white;

  /* Temp - placeholder size */
  width: 30vw;
  max-width: 400px;
  height: 60vh;
  background-color: pink;
  border-radius: 2rem 0rem 0rem 2rem;
}

.odin-logo-container {
  background-color: rgba(20, 20, 20, 0.5);
  font-family: "Norse-Bold";
  /* This makes it more responsive */
  font-size: 7vh;
  /* Places it 20% of the way down */
  position: relative;
  bottom: 80%;

  /* Put on same line and centrally align vertically + horizontally*/
  display: flex;
  justify-content: center;
  /* Due to strange font? */
  align-items: flex-end;
  z-index: 2;
}

.odin-logo-container img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 5vh;
  z-index: 2;
}

.photo-credit {
  font-size: 1.3rem;
  /* Positions credit at the bottom of 'photo' */
  position: relative;
  bottom: 17%;
  left: 25%;
  z-index: 4;
  word-wrap: break-word;
}

.photo-credit a {
  color: white;
}

.background-image {
  /* Make the image a fixed aspect ratio */
  display: flex;
  position: relative;
  width: 100%;
  z-index: 1;
  height: 100%;
  border-radius: 2rem 0rem 0rem 2rem;
}

.right-content {
  background-color: grey;
  /* Curved - prettier */
  border-radius: 0rem 2rem 2rem 0rem;
  flex-grow: 1;

  /* Temp - placeholder size */
  width: 600px;
}
